@import '../../sass/utils/variables';

.custom-button {
  min-width: 10rem;
  width: auto;
  height: 3rem;
  letter-spacing: 0.5px;
  line-height: 3rem;
  padding: 0 1.5rem 0 1.5rem;
  font-size: 1.6rem;
  background-color: $color-primary-dark;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s all ease-in;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary-light;
    color: white;
    border: 1px solid black;
  }
}
