@import '../../sass/utils/variables';

.pagination {
  display: flex;
  flex-wrap: wrap;

  &__page-pointer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 0.45rem;
    padding: 5px;
    background-color: $color-primary-light;
    color: white;
    border: 1px solid $color-tertiary;
    border-radius: 10rem;
    transition: 0.27s all ease;
    cursor: pointer;

    &_active {
      transform: scale(1.2);
      background-color: $color-secondary-dark;
      border: 1px solid white;
    }

    &:hover {
      transform: scale(1.4);
      background-color: $color-secondary-light;
      border: 1px solid white;
      color: black;
      box-shadow: $shadow-light;
    }
    &:active {
      transform: scale(1.2) translateY(3px);
      box-shadow: $shadow-dark;
    }
  }
}
