@font-face {
  font-family: 'Blinker-Regular';
  src: url('/assets/fonts/Blinker-Regular/Blinker-Regular.eot');
  src: url('/assets/fonts/Blinker-Regular/Blinker-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/Blinker-Regular/Blinker-Regular.woff') format('woff'),
    url('/assets/fonts/Blinker-Regular/Blinker-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Blinker-Bold';
  src: url('/assets/fonts/Blinker-Bold/Blinker-Bold.eot');
  src: url('/assets/fonts/Blinker-Bold/Blinker-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/Blinker-Bold/Blinker-Bold.woff') format('woff'),
    url('/assets/fonts/Blinker-Bold/Blinker-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Blinker-Light';
  src: url('/assets/fonts/Blinker-Light/Blinker-Light.eot');
  src: url('/assets/fonts/Blinker-Light/Blinker-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/Blinker-Light/Blinker-Light.woff') format('woff'),
    url('/assets/fonts/Blinker-Light/Blinker-Light.ttf') format('truetype');
}
