html, body {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

body{
  padding-top: 220px;
}

@media (min-width: 420px){
  body{
    padding-top: 130px;
  }
}

@media (min-width: 576px){
  body{
    padding-top: 90px;
  }
}
