html {
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

.app {
  position: relative;
  min-height: 100vh;
}

.header {
  min-height: 100px;
  max-height: 120px;
}

.footer {
  position: relative;
  width: 100%;
  margin-top: 20px;
  bottom: 0;
  height: 60px;
}

.logo {
  width: 100%;
}

.logo-image {
  padding: 0;
}

.page-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.pokemon-list {
  width: 100%;

  margin-top: 50px;
}

.no-pokemons {
  width: 100%;
  text-align: center;
}

.no-pokemons_img {
  max-height: 150px;
}

.pokemon {
  width: 300px;
  padding: 10px;
  text-align: center;
}

.card-img {
  max-height: 150px;
  max-width: 150px;
}

.card-body {
  height: 100%;
}

.card-title{
  text-transform: uppercase;
  margin-bottom: 25%;
}

.catch-btn {
  width: 100px;
}

.pokemon-page {
  width: 100%;
  height: 100%;
}

.pokemon-card__container_img {
  text-align: center;
}

.pokemon-card {
  width: 80%;
}

.pokemon-card__img {
  width: 70%;
}

.pokemon-card__name {
  text-transform: uppercase;
}

.load-more {
  width: 100%;
  text-align: center;
}


/* 2 колонки на sm */
@media (min-width: 576px) { 
  .card-columns { 
    -webkit-column-count: 1; 
    column-count: 1 
  }
}
/* 3 колонки на md */
@media (min-width: 768px) { 
  .card-columns { 
    -webkit-column-count: 2; 
    column-count: 2 
  }
}
/* 4 колонки на lg и xl */
@media (min-width: 992px) { 
  .card-columns { 
    -webkit-column-count: 3; 
    column-count: 3 
  }
}