.search {
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  width: 16.5rem;
  line-height: 2rem;
  margin: 2rem 0;
  transition: 0.3s all ease-in-out;

  &:hover,
  &:focus {
    border: 1px solid #153f7c;
  }
}
