@import '../../sass/utils/variables';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: $color-primary-light;
}

.logo-container {
  height: 5rem;
}

.logo {
  width: auto;
  height: 100%;
  animation: changeScale1 0.75s alternate infinite ease-in-out;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40rem;
  height: 2.5rem;
}

.option {
  font-size: $font-size-default;
  color: $color-navbar;
  transition: 0.15s all ease-in;
  border-bottom: 0px solid white;
  &:hover {
    color: $color-secondary-light;
    transform: translateY(2px);
    border-bottom: 3px solid white;
  }
}
