@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 3px solid $color-primary;
  background-color: $color-primary-light;
  @include preciseRespond(490px) {
    padding: 1rem 1rem 1rem 0rem;
  }
}

.logo-container {
  height: 5rem;
  @include preciseRespond(490px) {
    transform: scale(0.7);
  }
  @include preciseRespond(370px) {
    transform: scale(0.5) translateX(-1.5rem);
  }
}

.logo {
  width: auto;
  height: 100%;
  animation: changeScale1 0.75s alternate infinite ease-in-out;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40rem;
  height: 2.5rem;
}

.option {
  font-size: $font-size-default;
  color: $color-navbar;
  transition: 0.15s all ease-in;
  border-bottom: 0px solid white;

  @include preciseRespond(490px) {
    font-size: 1.4rem;
    margin-top: 5px;
  }

  @include preciseRespond(470px) {
    font-size: 1.2rem;
  }

  @include preciseRespond(370px) {
    font-size: 1rem;
  }

  @include preciseRespond(325px) {
    font-size: 0.9rem;
  }

  &:hover {
    color: $color-secondary-light;
    transform: translateY(2px);
    border-bottom: 3px solid white;
  }
}
