@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.search-box__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-alt {
  &__container {
    position: relative;
    top: -3rem;
    left: 2rem;
  }

  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 4rem;
    margin: 0.45rem;
    padding: 5px;
    font-size: 1.5rem;
    background-color: $color-primary-light;
    color: white;
    border: 1px solid $color-tertiary;
    border-radius: 0.5rem;
    transition: 0.27s all ease;
    cursor: pointer;

    @include preciseRespond(430px) {
      font-size: 8px;
      width: 8rem;
      height: 3rem;
      left: 5px;
    }

    &:hover {
      transform: scale(1.1);
      background-color: $color-secondary-light;
      border: 1px solid white;
      color: black;
      box-shadow: $shadow-light;
    }
    &:active {
      transform: scale(1.05) translateY(3px);
      box-shadow: $shadow-dark;
    }
  }
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}
